In [1]:
# načítanie dát cez API
import pandas as pd
import eurostat
df = eurostat.get_data_df('sprt_pcs_hbs')
df

    freq  coicop unit geo\TIME_PERIOD     2010     2015     2020
0      A  CP0921  PPS              AT     89.1     47.6     86.8
1      A  CP0921  PPS              BE     70.9    137.6    128.2
2      A  CP0921  PPS              BG      1.8      4.8      0.2
3      A  CP0921  PPS              CY     13.9      8.0      7.6
4      A  CP0921  PPS              CZ      7.5     11.7      3.9
..   ...     ...  ...             ...      ...      ...      ...
386    A   TOTAL  PPS              SE  26366.0  28583.0      NaN
387    A   TOTAL  PPS              SI  25514.0  25762.0  26153.0
388    A   TOTAL  PPS              SK  15041.0  19341.0  15692.0
389    A   TOTAL  PPS              TR  15917.0  21628.0      NaN
390    A   TOTAL  PPS              UK  23692.0  25316.0      NaN

[391 rows x 7 columns]

In [2]:
#kontrola hodnôt
print(df.nunique())

# Zobrazenie konkrétnych unikátnych hodnôt pre každý stĺpec
for column in df.columns:
    print(f"Unikátne hodnoty v stĺpci {column}:")
    print(df[column].unique())
    print("\n")

#usudzujem, že môžem zmazať stlpce freq, unit nechám, aby som vedela v akej to je jednotke
#coicop je že rôzne typy výdavkov ako na outdoor potreby, equipment, total atd., to tiež nechám

freq                 1
coicop              12
unit                 1
geo\TIME_PERIOD     33
2010               165
2015               274
2020               225
dtype: int64
Unikátne hodnoty v stĺpci freq:
['A']


Unikátne hodnoty v stĺpci coicop:
['CP0921' 'CP09222' 'CP0923' 'CP0932' 'CP09321' 'CP09322' 'CP09323'
 'CP0941' 'CP09411' 'CP09412' 'SPRT' 'TOTAL']


Unikátne hodnoty v stĺpci unit:
['PPS']


Unikátne hodnoty v stĺpci geo\TIME_PERIOD:
['AT' 'BE' 'BG' 'CY' 'CZ' 'DE' 'DK' 'EE' 'EL' 'ES' 'FI' 'FR' 'HR' 'HU'
 'IE' 'IT' 'LT' 'LU' 'LV' 'ME' 'MK' 'MT' 'NL' 'NO' 'PL' 'PT' 'RO' 'RS'
 'SE' 'SI' 'SK' 'TR' 'UK']


Unikátne hodnoty v stĺpci 2010:
[8.9100e+01 7.0900e+01 1.8000e+00 1.3900e+01 7.5000e+00 5.4900e+01
 6.3900e+01 7.2900e+01 2.7200e+01 1.6420e+02 5.9800e+01 9.0000e-01
 2.6000e+00 3.0000e+00 3.6900e+01 0.0000e+00 5.7300e+01 1.0000e-01
 6.9000e+01        nan 2.2000e+00 2.4840e+02 4.1600e+01 3.4000e+00
 1.5260e+02 2.5600e+01 3.0000e-01 5.0000e-01 4.4000e+00 1.5800e+01
 7.0000e-01 1.4000e+00 8.8000e+00 2.5000e+00 2.0500e+01 1.3000e+00
 1.1000e+00 8.5000e+00 4.0000e-01 2.3000e+00 9.7000e+00 3.3000e+00
 1.7000e+00 1.9000e+00 2.1300e+01 8.0000e-01 3.5000e+00 2.0300e+01
 6.0000e-01 1.1100e+01 1.8300e+01 1.1760e+02 3.6000e+01 5.7200e+01
 6.6400e+01 5.1400e+01 2.5900e+01 2.2300e+01 3.7600e+01 1.7600e+02
 2.7700e+01 1.0400e+01 6.2000e+00 8.1300e+01 2.6200e+01 2.1700e+01
 2.5300e+01 1.3700e+01 9.2000e+00 3.3100e+01 2.8500e+01 6.3000e+00
 2.4000e+00 1.1910e+02 9.0400e+01 4.6600e+01 7.2000e+00 6.8300e+01
 2.8540e+02 2.2350e+02 6.5000e+00 3.4340e+02 9.6800e+01 2.1900e+02
 1.6810e+02 1.0570e+02 5.9600e+01 1.9140e+02 2.3200e+02 2.1810e+02
 5.3900e+01 5.1800e+01 3.7990e+02 1.3330e+02 2.7400e+01 3.2220e+02
 5.6000e+01 7.3000e+00 7.1000e+00 8.7700e+01 9.5100e+01 5.8000e+00
 2.6100e+02 1.8810e+02 5.3000e+01 3.1300e+01 2.9980e+02 4.9330e+02
 3.5830e+02 3.7430e+02 1.6290e+02 3.5000e+02 2.8670e+02 1.3520e+02
 1.5720e+02 2.6160e+02 6.0940e+02 3.0870e+02 6.6000e+01 6.1000e+01
 4.6900e+02 2.0530e+02 5.1600e+01 4.2760e+02 6.9800e+01 1.7200e+01
 9.3000e+00 2.1010e+02 7.4200e+01 1.0400e+02 6.3720e+02 3.3970e+02
 1.0310e+02 3.8900e+01 5.3950e+02 3.3219e+04 3.1264e+04 9.3340e+03
 4.4641e+04 1.3161e+04 2.8367e+04 2.8560e+04 1.0421e+04 2.9974e+04
 3.0884e+04 2.6998e+04 2.7627e+04 1.7264e+04 1.4017e+04 3.3262e+04
 2.8393e+04 1.4730e+04 4.5171e+04 1.1381e+04 1.1831e+04 1.1846e+04
 2.6590e+04 3.0288e+04 1.5263e+04 2.3357e+04 9.6230e+03 2.6366e+04
 2.5514e+04 1.5041e+04 1.5917e+04 2.3692e+04]


Unikátne hodnoty v stĺpci 2015:
[4.7600e+01 1.3760e+02 4.8000e+00 8.0000e+00 1.1700e+01 5.6300e+01
 6.9100e+01 4.7000e+00 6.0800e+01 7.4000e+00 1.3160e+02 6.9800e+01
 2.7000e+00 1.0000e-01 1.1100e+01 1.0900e+01 0.0000e+00 1.0140e+02
 1.6000e+00        nan 6.7400e+01 1.0230e+02 2.8190e+02 1.0000e+01
 1.7000e+00 2.0000e-01 1.3120e+02 2.6000e+01 6.7000e+00 6.0000e-01
 8.8600e+01 7.1000e+00 4.0000e-01 3.0000e-01 1.9000e+00 1.6800e+01
 1.5000e+00 1.2600e+01 1.0000e+00 7.0000e-01 4.9000e+00 3.2000e+00
 2.3000e+00 2.2000e+00 5.0000e-01 2.0700e+01 2.4000e+00 3.4000e+00
 1.1000e+00 1.2000e+00 3.2900e+01 4.5300e+01 1.8400e+01 6.7900e+01
 1.3200e+01 1.7800e+01 1.0160e+02 4.7000e+01 4.0000e+00 1.1500e+01
 5.1600e+01 7.4700e+01 6.2600e+01 4.6600e+01 2.4700e+01 3.7200e+01
 2.2140e+02 4.4300e+01 8.6000e+00 7.8500e+01 5.6100e+01 2.0600e+01
 2.7400e+01 2.3600e+01 4.2100e+01 6.0200e+01 1.6190e+02 2.1000e+01
 3.0000e+00 1.0100e+01 1.8300e+02 5.8700e+01 2.3300e+01 6.9900e+01
 9.4000e+01 3.5000e+00 1.0800e+01 4.5600e+01 6.1200e+01 3.9300e+01
 3.7700e+01 2.4300e+01 3.0400e+01 2.0430e+02 3.6300e+01 1.0600e+01
 8.2000e+00 6.0500e+01 4.8400e+01 1.1900e+01 1.8900e+01 1.9400e+01
 2.5600e+01 3.9500e+01 1.3270e+02 1.7600e+01 1.8000e+00 7.8000e+00
 1.5000e+02 4.7200e+01 1.9000e+01 9.8000e+00 5.7300e+01 5.9000e+00
 9.6000e+00 5.3000e+00 1.2300e+01 2.2900e+01 7.9000e+00 6.1000e+00
 1.4000e+01 7.3000e+00 1.7400e+01 8.7000e+00 8.5000e+00 4.1000e+00
 1.5800e+01 2.0000e+01 2.6700e+01 8.0000e-01 2.1000e+00 3.0200e+01
 8.9000e+00 2.6000e+00 3.0140e+02 2.5420e+02 1.7200e+01 2.9070e+02
 1.1960e+02 3.0860e+02 1.8650e+02 2.3910e+02 5.2900e+01 1.9870e+02
 3.0550e+02 3.0560e+02 9.2000e+01 8.5900e+01 6.1220e+02 2.0200e+02
 4.2780e+02 1.0150e+02 2.0790e+02 4.7650e+02 2.4810e+02 5.3900e+01
 1.3560e+02 6.9000e+00 4.0100e+01 2.8520e+02 2.2100e+02 1.0690e+02
 6.5700e+01 3.5930e+02 4.6500e+01 6.8800e+01 6.5000e+01 1.2200e+01
 4.0900e+01 3.8300e+01 9.3000e+00 2.2200e+01 2.6300e+01 4.0500e+01
 1.5100e+01 4.0200e+01 1.6700e+01 4.4000e+00 1.7000e+01 8.1400e+01
 6.3400e+01 1.1300e+01 3.7800e+01 2.4100e+01 1.4800e+01 2.5490e+02
 1.8530e+02 1.5700e+01 2.2560e+02 1.0740e+02 2.6770e+02 1.4820e+02
 2.2940e+02 3.0700e+01 1.7230e+02 2.7930e+02 2.6510e+02 7.6900e+01
 7.9800e+01 5.7200e+02 3.2800e+01 4.1080e+02 8.9200e+01 1.2640e+02
 4.1310e+02 2.1520e+02 5.2400e+01 1.2440e+02 4.2000e+00 3.8500e+01
 2.4740e+02 1.9690e+02 9.2100e+01 6.3500e+01 3.1160e+02 4.5440e+02
 4.4820e+02 2.7600e+01 3.1030e+02 1.8400e+02 4.3960e+02 3.2040e+02
 2.9040e+02 1.4350e+02 2.4570e+02 6.9600e+02 4.2350e+02 1.1070e+02
 9.5100e+01 7.0330e+02 2.7170e+02 5.8000e+01 5.7040e+02 1.2710e+02
 3.5030e+02 6.8430e+02 7.1040e+02 8.5700e+01 1.4060e+02 6.6730e+02
 3.2370e+02 1.3880e+02 7.8300e+01 5.3610e+02 3.4491e+04 3.4923e+04
 1.2517e+04 3.5579e+04 1.5055e+04 3.0835e+04 3.0102e+04 1.4329e+04
 2.4190e+04 3.0223e+04 3.0792e+04 2.9667e+04 2.0163e+04 1.5998e+04
 3.3814e+04 2.9651e+04 1.6254e+04 4.9838e+04 1.4428e+04 2.7868e+04
 3.2624e+04 3.7330e+04 1.8436e+04 2.4842e+04 1.1422e+04 1.4355e+04
 2.8583e+04 2.5762e+04 1.9341e+04 2.1628e+04 2.5316e+04]


Unikátne hodnoty v stĺpci 2020:
[8.6800e+01 1.2820e+02 2.0000e-01 7.6000e+00 3.9000e+00 6.9600e+01
 1.3820e+02 8.2900e+01 6.4000e+00        nan 6.8100e+01 6.7000e+00
 4.0000e-01 1.6300e+01 2.3700e+01 1.8350e+02 6.2000e+00 4.4000e+00
 6.4200e+01 1.1240e+02 1.3300e+01 1.9000e+00 3.1600e+01 1.7000e+00
 8.0000e+00 3.7000e+00 0.0000e+00 4.0000e+00 1.0000e-01 5.0000e+00
 1.5000e+00 2.3300e+01 3.0000e-01 3.2000e+00 2.8000e+00 7.0000e-01
 7.8000e+00 1.8300e+01 1.4600e+01 4.1000e+00 9.4000e+00 2.2800e+01
 2.1000e+00 4.5000e+00 2.3000e+00 2.2000e+00 2.9000e+00 2.6000e+00
 3.1300e+01 4.3200e+01 4.3000e+00 1.9400e+01 1.4460e+02 3.9200e+01
 1.1000e+01 7.5600e+01 8.5800e+01 6.9700e+01 4.9100e+01 1.1900e+01
 3.4100e+01 1.7200e+01 2.0800e+01 3.6400e+01 1.1700e+01 4.1300e+01
 9.8000e+00 4.0100e+01 6.5900e+01 1.7500e+01 7.4300e+01 2.8000e+01
 1.3700e+02 2.9400e+01 3.4000e+00 1.0300e+01 5.1400e+01 4.9900e+01
 2.9000e+01 3.4400e+01 1.6000e+01 1.9800e+01 2.6400e+01 7.0000e+00
 3.0200e+01 5.8400e+01 8.2000e+00 2.4400e+01 4.5100e+01 1.1300e+01
 1.2100e+01 6.0800e+01 2.5100e+01 9.5000e+00 6.0000e-01 1.6100e+01
 1.4000e+01 2.7000e+00 7.9000e+00 9.0000e-01 8.0000e-01 9.2000e+00
 3.5000e+00 1.0400e+01 1.1200e+01 1.6000e+00 1.5100e+01 2.0600e+01
 5.7000e+00 1.2200e+01 1.4000e+00 5.8000e+00 1.1000e+00 5.0000e-01
 1.3000e+00 3.6210e+02 1.6340e+02 1.9600e+01 2.7920e+02 1.7540e+02
 3.5760e+02 1.7890e+02 1.9140e+02 2.3100e+01 1.2050e+02 2.9830e+02
 9.9700e+01 8.0200e+01 1.3930e+02 5.0000e+01 3.7710e+02 1.7270e+02
 1.0200e+01 1.9790e+02 3.9700e+02 5.6900e+01 2.9100e+01 2.6370e+02
 3.6100e+01 3.7200e+01 1.7900e+01 6.2500e+01 1.5000e+01 7.0500e+01
 2.3400e+01 3.3000e+00 5.8900e+01 5.5000e+00 1.0500e+01 2.6700e+02
 2.7400e+01 7.7500e+01 4.5900e+01 2.5500e+01 5.3000e+00 3.2490e+02
 1.4560e+02 1.8200e+01 2.1680e+02 1.6040e+02 2.8700e+02 1.5550e+02
 1.7940e+02 1.0880e+02 2.3950e+02 8.3400e+01 7.8700e+01 1.3380e+02
 3.9500e+01 1.1020e+02 1.4530e+02 1.2040e+02 3.5110e+02 5.6200e+01
 2.8900e+01 2.3810e+02 3.0900e+01 6.1980e+02 3.4910e+02 2.4100e+01
 2.9810e+02 2.5940e+02 5.2640e+02 4.0960e+02 2.4470e+02 1.2020e+02
 1.7040e+02 4.1340e+02 1.2580e+02 1.0170e+02 1.9530e+02 8.7100e+01
 6.2790e+02 2.4880e+02 2.4800e+01 3.3350e+02 6.2170e+02 9.4800e+01
 5.2600e+01 3.9680e+02 6.6200e+01 3.4729e+04 3.0906e+04 1.3181e+04
 3.4177e+04 1.7132e+04 3.2116e+04 3.0284e+04 1.7683e+04 2.2530e+04
 2.7683e+04 2.8961e+04 2.1902e+04 2.1937e+04 2.7283e+04 1.7448e+04
 4.9524e+04 1.6576e+04 1.4929e+04 2.6528e+04 3.3134e+04 1.7178e+04
 1.4625e+04 1.4285e+04 2.6153e+04 1.5692e+04]

In [3]:
#odstránenie stlpca freq
df = df.drop(columns=['freq'])
df

     coicop unit geo\TIME_PERIOD     2010     2015     2020
0    CP0921  PPS              AT     89.1     47.6     86.8
1    CP0921  PPS              BE     70.9    137.6    128.2
2    CP0921  PPS              BG      1.8      4.8      0.2
3    CP0921  PPS              CY     13.9      8.0      7.6
4    CP0921  PPS              CZ      7.5     11.7      3.9
..      ...  ...             ...      ...      ...      ...
386   TOTAL  PPS              SE  26366.0  28583.0      NaN
387   TOTAL  PPS              SI  25514.0  25762.0  26153.0
388   TOTAL  PPS              SK  15041.0  19341.0  15692.0
389   TOTAL  PPS              TR  15917.0  21628.0      NaN
390   TOTAL  PPS              UK  23692.0  25316.0      NaN

[391 rows x 6 columns]

In [4]:
#premenovanie stlpca na country_code
df = df.rename(columns={"geo\TIME_PERIOD": "country_code"})
df

<>:2: SyntaxWarning: invalid escape sequence '\T'
<>:2: SyntaxWarning: invalid escape sequence '\T'
C:\Users\Diana Fábiková\AppData\Local\Temp\ipykernel_21056\1818817257.py:2: SyntaxWarning: invalid escape sequence '\T'
  df = df.rename(columns={"geo\TIME_PERIOD": "country_code"})

     coicop unit country_code     2010     2015     2020
0    CP0921  PPS           AT     89.1     47.6     86.8
1    CP0921  PPS           BE     70.9    137.6    128.2
2    CP0921  PPS           BG      1.8      4.8      0.2
3    CP0921  PPS           CY     13.9      8.0      7.6
4    CP0921  PPS           CZ      7.5     11.7      3.9
..      ...  ...          ...      ...      ...      ...
386   TOTAL  PPS           SE  26366.0  28583.0      NaN
387   TOTAL  PPS           SI  25514.0  25762.0  26153.0
388   TOTAL  PPS           SK  15041.0  19341.0  15692.0
389   TOTAL  PPS           TR  15917.0  21628.0      NaN
390   TOTAL  PPS           UK  23692.0  25316.0      NaN

[391 rows x 6 columns]

In [5]:
#unpivotovanie
df_melted = pd.melt(df, 
                    id_vars=['coicop', 'unit', 'country_code'],  #Stĺpce, ktoré chceme ponechať
                    var_name='year',   #Nový stĺpec, kde budu vsetky roky
                    value_name='value'  #Nový stĺpec pre hodnoty z rokov - teda tá výška výdavkov na konkrétne športové potreby
                   )

# Zobrazenie výsledkov
df_melted

      coicop unit country_code  year    value
0     CP0921  PPS           AT  2010     89.1
1     CP0921  PPS           BE  2010     70.9
2     CP0921  PPS           BG  2010      1.8
3     CP0921  PPS           CY  2010     13.9
4     CP0921  PPS           CZ  2010      7.5
...      ...  ...          ...   ...      ...
1168   TOTAL  PPS           SE  2020      NaN
1169   TOTAL  PPS           SI  2020  26153.0
1170   TOTAL  PPS           SK  2020  15692.0
1171   TOTAL  PPS           TR  2020      NaN
1172   TOTAL  PPS           UK  2020      NaN

[1173 rows x 5 columns]

In [6]:
df_melted['value'] = df_melted['value'].astype(str).str.replace('.', ',')

In [7]:
df_melted['value'] = df_melted['value'].astype(str).str.replace('nan', '0')

In [8]:
for column in df_melted.columns:
    print(f"Unikátne hodnoty v stĺpci {column}:")
    print(df_melted[column].unique())
    print("\n")

Unikátne hodnoty v stĺpci coicop:
['CP0921' 'CP09222' 'CP0923' 'CP0932' 'CP09321' 'CP09322' 'CP09323'
 'CP0941' 'CP09411' 'CP09412' 'SPRT' 'TOTAL']


Unikátne hodnoty v stĺpci unit:
['PPS']


Unikátne hodnoty v stĺpci country_code:
['AT' 'BE' 'BG' 'CY' 'CZ' 'DE' 'DK' 'EE' 'EL' 'ES' 'FI' 'FR' 'HR' 'HU'
 'IE' 'IT' 'LT' 'LU' 'LV' 'ME' 'MK' 'MT' 'NL' 'NO' 'PL' 'PT' 'RO' 'RS'
 'SE' 'SI' 'SK' 'TR' 'UK']


Unikátne hodnoty v stĺpci year:
['2010' '2015' '2020']


Unikátne hodnoty v stĺpci value:
['89,1' '70,9' '1,8' '13,9' '7,5' '54,9' '63,9' '72,9' '27,2' '164,2'
 '59,8' '0,9' '2,6' '3,0' '36,9' '0,0' '57,3' '0,1' '69,0' '0' '2,2'
 '248,4' '41,6' '3,4' '152,6' '25,6' '0,3' '0,5' '4,4' '15,8' '0,7' '1,4'
 '8,8' '2,5' '20,5' '1,3' '1,1' '8,5' '0,4' '2,3' '9,7' '3,3' '1,7' '1,9'
 '21,3' '0,8' '3,5' '20,3' '0,6' '11,1' '18,3' '117,6' '36,0' '57,2'
 '66,4' '51,4' '25,9' '22,3' '37,6' '176,0' '27,7' '10,4' '6,2' '81,3'
 '26,2' '21,7' '25,3' '13,7' '9,2' '33,1' '28,5' '6,3' '2,4' '119,1'
 '90,4' '46,6' '7,2' '68,3' '285,4' '223,5' '6,5' '343,4' '96,8' '219,0'
 '168,1' '105,7' '59,6' '191,4' '232,0' '218,1' '53,9' '51,8' '379,9'
 '133,3' '27,4' '322,2' '56,0' '7,3' '7,1' '87,7' '95,1' '5,8' '261,0'
 '188,1' '53,0' '31,3' '299,8' '493,3' '358,3' '374,3' '162,9' '350,0'
 '286,7' '135,2' '157,2' '261,6' '609,4' '308,7' '66,0' '61,0' '469,0'
 '205,3' '51,6' '427,6' '69,8' '17,2' '9,3' '210,1' '74,2' '104,0' '637,2'
 '339,7' '103,1' '38,9' '539,5' '33219,0' '31264,0' '9334,0' '44641,0'
 '13161,0' '28367,0' '28560,0' '10421,0' '29974,0' '30884,0' '26998,0'
 '27627,0' '17264,0' '14017,0' '33262,0' '28393,0' '14730,0' '45171,0'
 '11381,0' '11831,0' '11846,0' '26590,0' '30288,0' '15263,0' '23357,0'
 '9623,0' '26366,0' '25514,0' '15041,0' '15917,0' '23692,0' '47,6' '137,6'
 '4,8' '8,0' '11,7' '56,3' '69,1' '4,7' '60,8' '7,4' '131,6' '2,7' '10,9'
 '101,4' '1,6' '67,4' '102,3' '281,9' '10,0' '0,2' '131,2' '26,0' '6,7'
 '88,6' '16,8' '1,5' '12,6' '1,0' '4,9' '3,2' '20,7' '1,2' '32,9' '45,3'
 '18,4' '67,9' '13,2' '17,8' '101,6' '47,0' '4,0' '11,5' '74,7' '62,6'
 '24,7' '37,2' '221,4' '44,3' '8,6' '78,5' '56,1' '20,6' '23,6' '42,1'
 '60,2' '161,9' '21,0' '10,1' '183,0' '58,7' '23,3' '69,9' '94,0' '10,8'
 '45,6' '61,2' '39,3' '37,7' '24,3' '30,4' '204,3' '36,3' '10,6' '8,2'
 '60,5' '48,4' '11,9' '18,9' '19,4' '39,5' '132,7' '17,6' '7,8' '150,0'
 '47,2' '19,0' '9,8' '5,9' '9,6' '5,3' '12,3' '22,9' '7,9' '6,1' '14,0'
 '17,4' '8,7' '4,1' '20,0' '26,7' '2,1' '30,2' '8,9' '301,4' '254,2'
 '290,7' '119,6' '308,6' '186,5' '239,1' '52,9' '198,7' '305,5' '305,6'
 '92,0' '85,9' '612,2' '202,0' '427,8' '101,5' '207,9' '476,5' '248,1'
 '135,6' '6,9' '40,1' '285,2' '221,0' '106,9' '65,7' '359,3' '46,5' '68,8'
 '65,0' '12,2' '40,9' '38,3' '22,2' '26,3' '40,5' '15,1' '40,2' '16,7'
 '17,0' '81,4' '63,4' '11,3' '37,8' '24,1' '14,8' '254,9' '185,3' '15,7'
 '225,6' '107,4' '267,7' '148,2' '229,4' '30,7' '172,3' '279,3' '265,1'
 '76,9' '79,8' '572,0' '32,8' '410,8' '89,2' '126,4' '413,1' '215,2'
 '52,4' '124,4' '4,2' '38,5' '247,4' '196,9' '92,1' '63,5' '311,6' '454,4'
 '448,2' '27,6' '310,3' '184,0' '439,6' '320,4' '290,4' '143,5' '245,7'
 '696,0' '423,5' '110,7' '703,3' '271,7' '58,0' '570,4' '127,1' '350,3'
 '684,3' '710,4' '85,7' '140,6' '667,3' '323,7' '138,8' '78,3' '536,1'
 '34491,0' '34923,0' '12517,0' '35579,0' '15055,0' '30835,0' '30102,0'
 '14329,0' '24190,0' '30223,0' '30792,0' '29667,0' '20163,0' '15998,0'
 '33814,0' '29651,0' '16254,0' '49838,0' '14428,0' '27868,0' '32624,0'
 '37330,0' '18436,0' '24842,0' '11422,0' '14355,0' '28583,0' '25762,0'
 '19341,0' '21628,0' '25316,0' '86,8' '128,2' '7,6' '3,9' '69,6' '138,2'
 '82,9' '6,4' '68,1' '16,3' '23,7' '183,5' '64,2' '112,4' '13,3' '31,6'
 '3,7' '5,0' '2,8' '14,6' '9,4' '22,8' '4,5' '2,9' '43,2' '4,3' '144,6'
 '39,2' '11,0' '75,6' '85,8' '69,7' '49,1' '34,1' '20,8' '36,4' '41,3'
 '65,9' '17,5' '74,3' '28,0' '137,0' '29,4' '10,3' '49,9' '29,0' '34,4'
 '16,0' '19,8' '26,4' '7,0' '58,4' '24,4' '45,1' '12,1' '25,1' '9,5'
 '16,1' '11,2' '5,7' '362,1' '163,4' '19,6' '279,2' '175,4' '357,6'
 '178,9' '23,1' '120,5' '298,3' '99,7' '80,2' '139,3' '50,0' '377,1'
 '172,7' '10,2' '197,9' '397,0' '56,9' '29,1' '263,7' '36,1' '17,9' '62,5'
 '15,0' '70,5' '23,4' '58,9' '5,5' '10,5' '267,0' '77,5' '45,9' '25,5'
 '324,9' '145,6' '18,2' '216,8' '160,4' '287,0' '155,5' '179,4' '108,8'
 '239,5' '83,4' '78,7' '133,8' '110,2' '145,3' '120,4' '351,1' '56,2'
 '28,9' '238,1' '30,9' '619,8' '349,1' '298,1' '259,4' '526,4' '409,6'
 '244,7' '120,2' '170,4' '413,4' '125,8' '101,7' '195,3' '87,1' '627,9'
 '248,8' '24,8' '333,5' '621,7' '94,8' '52,6' '396,8' '66,2' '34729,0'
 '30906,0' '13181,0' '34177,0' '17132,0' '32116,0' '30284,0' '17683,0'
 '22530,0' '27683,0' '28961,0' '21902,0' '21937,0' '27283,0' '17448,0'
 '49524,0' '16576,0' '14929,0' '26528,0' '33134,0' '17178,0' '14625,0'
 '14285,0' '26153,0' '15692,0']

In [9]:
#rozhodla som sa nevymazať NaN hodnoty, keď tak to poriešime potom, ale nech máme akoby za každý rok aspoň niečo ak to aj bude NaN, to sa porieši v sql alebo pbi
#export do csv
df_melted.to_csv("households_expenditure_final.csv", index=False)